body {
    background-image: url("../media/background.jpg");
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.title {
    font-family: 'Comfortaa', sans-serif, Arial;
    font-size: 60px;
    color: white;
    padding: 30px;
}
label {
    font-family: 'Comfortaa', sans-serif, Arial;
    color: white;
}
.subtext {
    font-family: 'Comfortaa', sans-serif, Arial;
    color: white;
}